@use "@/styles" as *;

.homePurchasePage {
 display: flex;
 flex-direction: column;
 flex: 1;
}

.filtersTop {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: $spacing-lg;
 align-items: end;
}

.filtersSecondary {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: $spacing-lg;
 align-items: end;
}

.filter {
 display: flex;
 flex-direction: column;
 align-items: start;
 gap: 0.5rem;
}

.actionsRow {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: $spacing-xl;

 button {
  justify-self: stretch;
 }
}

// Responsive tweaks
@media (max-width: 768px) {
 .filtersTop,
 .filtersSecondary {
  grid-template-columns: repeat(2, 1fr);
 }
}
