.MainPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  &__Filter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  &__FilterContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: end;
    margin-bottom: 1rem;
  }

  &__Error {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: #fef2f2;
    border: 1px solid #fecaca;
    border-radius: 0.375rem;
  }

  &__ReportSection {
    margin-bottom: 1.5rem;
  }

  &__ReportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f9fafb;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
  }

  &__ReportInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
    //padding: 1rem;
    //background-color: #f9fafb;
    //border-radius: 0.5rem;
    //border: 1px solid #e5e7eb;
  }

  &__MovementsSection {
    margin-top: 1.5rem;

    > p {
      margin-bottom: 1rem;
    }
  }

  &__SeccionFiltros {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
