.MovimientoTag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  width: 100%;

  &--Entrada{
    background-color: var(--success-soft);
;
  }

  &--Salida{
    background-color: var(--error-soft);
;
  }
}