.FormWarehouse{
  &__FormField{
    display: flex;
    flex-direction: column;
    gap: 6px;

    // etiqueta del campo según el diseño
    > :first-child {
      font-size: 14px;
      font-weight: 500;
      color: var(--text);
    }
  }

  &__Form{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}