@use "@/styles" as *;

.mainLayout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg);
}

.content {
  flex: 1;
  padding: $spacing-xl;
  height: 100vh;
  //overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border-strong);
    border-radius: $border-radius-full;
  }
}