@use "@/styles" as *;

.pageLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-lg;
  flex-wrap: wrap;
  padding-bottom: $spacing-xs;
}


.title {
  display: flex;
  justify-content: space-between;
  gap: $spacing-lg;

}

.header-text {
  display: flex;
  flex-direction: column;
}


.subtitle {
  font-size: $font-size-md;
  color: var(--text-2);
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}