@use '@/styles' as *;

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: $bg-color-secondary;
  border-right: 1px solid var(--border-color);
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.sidebar .header {
  display: flex;
  justify-content: space-between;
  gap: $spacing-md;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  padding: $spacing-sm  $spacing-md;
  background-color: $bg-color-secondary;
  border-radius: $border-radius-lg;
  border: 1px solid var(--border-color);
  background-color: transparent;

  .userName {
    overflow-x: auto;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $text-color;
  }
  .userEmail{
    font-size: $font-size-xs;
    color: $text-color-1;
    font-weight: $font-weight-medium;
  }

  .userRole {
    font-size: $font-size-xs;
    color: $text-color-1;
  }
}

.navigation {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  overflow-y: auto;

    
  //Para ocultar scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  /* Ocultar scrollbar en Firefox */
  scrollbar-width: none; 
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $neutral-3;
    border-radius: $border-radius-full;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.sectionTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  gap:4px;
  &__title{
    font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $text-color-1;
  letter-spacing: 0.5px;
  margin: 0;
  }
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    font-size: $font-size-xs;
    a {
      display: block;
      padding: $spacing-xs $spacing-md;
      color: $text-color;
      text-decoration: none;
      border-radius: 6px;
      transition: all 0.2s ease;

      &:hover {
        box-shadow: 0px 0px 1.5px 0px var(--border-input);
        background-color: var(--border-input);
      }

      &.active {
        box-shadow: 0px 0px 1.5px 0px var(--border-input);
        background-color: var(--border-input);
      }
    }
  }
}