.MainPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: end;
  margin-bottom: 1rem;

  &__Filter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}
